<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Document</title>
    <style>
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



div {
  border-radius: 5px;
  padding: 20px;
}
</style>
</head>

<body style="background: #81bbd8;">
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
    <form action="{% url 'user' %}" method="POST">
        <input type="hidden" name="id" id='id' required maxlength="20" value="{{employe.id}}">
        {% csrf_token %}
        <label for="name">Name</label>
        <input type="text" id="name" name="name" value="{{employe.name}}">

        <label for="address">Address</label>
        <input type="text" id="address" name="address" value="{{employe.address}}">

        <label for="salary">Salary</label>
        <input type="text" id="salary" name="salary" value="{{employe.salary}}">

        <input type="checkbox"  name="status" value="True" ><br>


        <input type="submit" value="Update">
    </form>
                     </div>
            <div class="col-md-3">

            </div>
       </div>

        </div>
</div>
</body>
</html>