<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="signup" method="POST">
    {% csrf_token %}
        User Name: <input type="text" name="username"><br>
        First Name: <input type="text" name="first_name"><br>
        Last Name: <input type="text" name="last_name"><br>
        Email-Id: <input type="email" name="email_id"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit">


    </form>
</body>
</html>